body{
    margin:0;
    text-align: center;
    font-family: fantasy;
    color:#40514E;
    
}
    
h1{
    margin-top: 50px auto 0 auto;
    font-family: sacramento,cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    
}
h2{
    font-family: montserrat,sans-serif;
    font-size: 1.5rem;
    color: #66BFBF;
    padding-bottom: 10px;
    
}
h3{
    font-family: montserrat,sans-serif;
    color: #11999E;
}
.top-container{
    background-color: #E4F9F5;
   position: relative;
   padding-top: 100px;

}
.middle-container{
    margin:100px 0;
    
    
}


.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}
a{
    color: #11999E;
   margin: 10px 20px;
   text-decoration: none;
}
a:hover{
    color:#EAF6F6;
}
.pro{
    text-decoration: underline;
}
.bottomcloud{
    position: absolute;
    left: 250px;
    bottom: 300px;
}
.topcloud{
    position:absolute;
    top: 40px;
    right: 300px;

}
.footer-link{
    color: #11999E;

}
.subtitle{
    font-weight:normal;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}
p{
    line-height: 2;

}
.candle-image{
    width: 25%;
    float:  left;
    padding-right: 30px;

}
.driving-image{
    width: 25%;
    float: right;
    padding-left: 30px;
}
hr{
    
        border: dotted #EAF6F6 6px;;
        border-bottom:none;
        margin: 100px auto;
        width:4%
   
}
.btn{
    -webkit-border-radius: 19px;
   -moz-border-radius: 19px;
   border-radius: 19px;
   color: #FFFFFF;
   font-family: montserrat,sans-serif;
   font-size: 21px;
   font-weight: 100;
   padding: 7px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-top: 4%;
}
.copy-right{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}
